<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
      <button ion-button icon-right icon-only (click)="userService.openMenu('left_menu',navCtrl)">
          <ion-icon name="menu"></ion-icon>
      </button>
        
      <button ion-button [style.background-color]="login ? '#32db64':'#488aff'" (click)="togle()">Login</button>
      <span *ngIf="login">Login</span>
      <span *ngIf="!login">Register</span>
      <button ion-button [style.background-color]="login ? '#488aff':'#32db64'" (click)="togle()" class="end">Register</button>
  </ion-toolbar> 
</ion-header>


<ion-content padding>
  <div *ngIf = "login; then loginTab else registerTab"></div>
  <ng-template #loginTab>
      
        <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
        </ion-item>
    
        <button ion-button (click)="loginuser(user)">Login</button>
  </ng-template>

  <ng-template #registerTab>
    <ion-item>
      <ion-label floating>Nick Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

    <button ion-button (click)="register(user)">Register</button>
  </ng-template>
</ion-content>
