<ion-header>
    <ion-toolbar>
        <ion-title>
            <button ion-button icon-right icon-only (click)="userService.openMenu('left_menu',navCtrl)">
                <ion-icon name="menu"></ion-icon>
            </button>
            <span>BlessTest</span>
            <button ion-button round icon-right icon-only  (click)="userService.openMenu('admin_menu',navCtrl)">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="overflow-y: hidden;">

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <div class="panel panel-info">
                    <div class="panel-body">
                        <!--<div *ngIf="restrictedDrop1">Item was dropped here</div>-->
                        <!--<div *ngIf="listRecycled.length">-->
                        <ion-row class="table_header">

                            <ion-col class="thumbnail">
                                Thumbnail
                            </ion-col>
                            <ion-col class="name" (click)="sortBy('name')">
                                Name
                                <i class="fa" [ngClass]="{'fa-sort': column != 'name', 
                                                        'fa-sort-asc': (column == 'name' && !isDesc), 
                                                        'fa-sort-desc': (column == 'name' && isDesc) }"> </i>
                            </ion-col>
                            <ion-col class="slug" (click)="sortBy('slug')">
                                Slug
                                <i class="fa" [ngClass]="{'fa-sort': column != 'slug', 
                                                        'fa-sort-asc': (column == 'slug' && !isDesc), 
                                                        'fa-sort-desc': (column == 'slug' && isDesc) }"> </i>
                            </ion-col>
                        </ion-row>
                        <div *ngFor="let item of category " class="item_table">

                            <ion-row>

                                <ion-col class="thumbnail">
                                    <img src="{{item.image}}" alt="thumb" />
                                </ion-col>
                                <ion-col class="name">
                                    {{item.name}}
                                </ion-col>
                                <ion-col class="slug">
                                    {{item.slug}}
                                </ion-col>
                            </ion-row>

                        </div>
                    </div>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>