<ion-menu [content]="content" side="left" id="left_menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="gotoPage('TestsPage')">
        Home
      </button>
      <button ion-item (click)="gotoPage('RegisterPage')">
        Login/Register
      </button>
      <button ion-item (click)="gotoPage('CategoryPage')">
        Category
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" side="right" id="admin_menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="logout()">
        {{!! userService.islogged() ? 'Profile': 'Login' }}
      </button>
      <button ion-item (click)="gotoPage('MytestsPage')">
        My Tests
      </button>
      <button ion-item (click)="gotoPage('QuestionPage')">
        Create Question
      </button>
      <button ion-item (click)="gotoPage('CategoryPage')">
        Category
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
