<ion-content>
    <ion-item>
        <label class="item item-input"> 
            <input type="file" name="image" (change)="fileUpload($event)"/>
            <button ion-button icon-right (click)="save()" color="secondary">
              Apply image
              <ion-icon name="attach"></ion-icon>
            </button>
            <button ion-button icon-right (click)="delete()" color="danger">
              Delete
              <ion-icon name="trash" ></ion-icon>
            </button>
        </label>
      </ion-item>
  <div *ngFor="let item of media" class="modal_media">
    <div class="media" >
      <img src="{{fullpath(item)}}" (click)="choseMedia(item)" [style.border]="isChosen(item.id)"/>
    </div>
  </div>
</ion-content>>