page-home {

}



[class*='col-'] {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p{
    margin: 10px 0px;
}

h3 {
    text-align: center; margin-bottom: 0;
}
h4 {
    position: relative;
}
.grid {
    margin: 0;
    padding: 0px;
}
.col-1-4 {
    width: 25%;
}
.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}
.module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}
.grid-pad {
    padding: 10px 0;
}

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px; }
}
@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }
    .module {
        min-width: 60px;
    }
}

.nav-tabs>li>a{
    background-color: #ccc;
    padding: 6px 15px;
}
.nav-tabs>li.active>a{
    background-color: #f5f8fa;
}
.main_panel{
    height:700px;
}

.main_panel .panel-body .panel, .main_panel .panel-body .button_holder, .main_panel .panel-body .chose-group{
    position: absolute;
}

.main_panel>.panel-body{
    padding: 0px;
}


button, .panel-default{
    border-style: solid;
}

.container_menu >div{
    padding-top: 15px;
}

.chose-group{
    display: block;
    margin-top: 12px;
}

.chose-group .form-control{
    z-index: 0;
    width:calc(100% - 35px); 
    height:100%;
    display: block;
    float:left;
}

.chose-group .input-group-addon{
    width:35px;
    height:100%;
    display: block;
    float:left;
}

.chose-group .input-group-addon input{
    margin-top: 50%;
}
.tab-content{
    background-color: #f5f8fa;
    border: 1px Solid #ddd;
    display: block;
    float: left;
}

.container_menu /deep/ .nav-link{
    color:#fff;
}

.container_menu /deep/ .nav-link:hover, .container_menu /deep/ .nav-link:focus, .container_menu /deep/ .nav-link.active{
    color:#555;
}

.resize-handle{
    float:right;
    display: block;
    position: relative;
    bottom: 14px;
    right: 2px;
    cursor:nw-resize;
}

.panel-body{
    height: 100%;
}

.button_holder button{
    width:100%;
    height:100%;
}

.dragPanel .panel-default, .dragPanel .button_holder{
    margin-top:10px;
}



.hidePanel{
    position: absolute;
    display:none;
}

.showPanel{
    position: absolute;
    left: 0 ;
}

.dragPanel{
    background-color: #F8F8E8;
    z-index: 10;
    margin-top: -16px;
    padding-left: 10px;
}

.container_menu{
    width:100%;
    top:0px;
    left:0px;
    position:absolute;
    background-color: #fff;
    z-index: 15; 
    .nav-tabs{
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        >li{
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: block;
            float: left;
            margin-bottom: -1px;
            a{
                margin-right: 2px;
                line-height: 1.42857143;
                border: 1px solid transparent;
                border-radius: 4px 4px 0 0;
                position: relative;
                display: block;
                padding: 10px 15px;
                background-color: #fff;
            }
            a:hover{
                background-color: #ccc;
                opacity: 1;
            }
        }
        >li.active{
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
    }
    .tab-content{
        width: 100%;
        padding: 13px;
    }
    >.col-xs-12{
        width: 100%;
    }
    .close{
        background-color: #F8F8E8;
        border: 1px Solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }
    .form-control{
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
    }
}

.panel{ touch-action: none; }


.dnd-poly-drag-image {
    opacity: .5 !important;
}

.dnd-poly-drag-image.dnd-poly-snapback {
    transition-property: transform, -webkit-transform !important;
    transition-duration: 250ms !important;
    transition-timing-function: ease-out !important;
}


.gemini{
   .connector{
        position: absolute;
        z-index: -1;
   }
   .button_holder{
        z-index: 3;
   }
   button{
    z-index: 3;
   }
}

.active_connector{
    position: absolute;
    z-index: -1;
    width:100%;
    height:100%;
    svg{
        width:100%;
        height:100%;
    }
}