<ion-header>
    <ion-toolbar>
        <ion-title>
            <button ion-button icon-right icon-only (click)="userService.openMenu('left_menu',navCtrl)">
                <ion-icon name="menu"></ion-icon>
            </button>
            <button ion-button round icon-only (click)="showDragPanel($even)">
                <ion-icon name="create"></ion-icon>
            </button>
            <span>Ionic Blank</span>
            <button ion-button round icon-right (click)="savePanel($even)">
                <p>Save </p>
                <ion-icon name="sync"></ion-icon>
            </button>
            <button ion-button round icon-right icon-only  (click)="userService.openMenu('admin_menu',navCtrl)">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="overflow-y: hidden;">
    <div *ngIf="menu.show">
        <div class="container_menu">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" [class.active]="menu.panel[0]">
                        <a (click)="showTab($event,0)" role="tab" data-toggle="tab">Text</a>
                    </li>
                    <li role="presentation" [class.active]="menu.panel[1]">
                        <a (click)="showTab($event,1)" role="tab" data-toggle="tab">Points</a>
                    </li>
                    <li role="presentation" [class.active]="menu.panel[2]">
                        <a (click)="showTab($event,2)" role="tab" data-toggle="tab">Css</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div [hidden]="!menu.panel[0]">
                        <div class="tab-pane active" [ngClass]="classes" role="tabpanel" #paneltext>
                            <div class="panel-body">
                                <span class="input-group-addon">Text</span>
                                <input type="text" class="form-control" aria-describedby="menu-msg" [(ngModel)]="button[menu.id].msg" (ngModelChange)="menumsg($event, menu.id)">
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!menu.panel[1]">
                        <div class="tab-pane active" [ngClass]="classes" role="tabpanel" #panelpoints>
                            <div class="panel-body">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">Points</span>
                                        <input type="text" class="form-control" aria-describedby="menu-points" [(ngModel)]="button[menu.id].points" (ngModelChange)="sumPoints()">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <span class="input-group-addon">Max Points {{maxPoints}}</span>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <span class="input-group-addon">Min Points {{minPoints}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!menu.panel[2]">
                        <div class="tab-pane active" [ngClass]="classes" role="tabpanel" #panelcss>
                            <div class="panel-body">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">Background color</span>
                                        <input type="text" class="form-control" aria-describedby="menu-backgroundcolor" [(colorPicker)]="button[menu.id].backgroundcolor"
                                            [style.background]="button[menu.id].backgroundcolor" [(ngModel)]="button[menu.id].backgroundcolor">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">Text color</span>
                                        <input type="text" class="form-control" aria-describedby="menu-color" [(colorPicker)]="button[menu.id].color" [style.background]="button[menu.id].color"
                                            [(ngModel)]="button[menu.id].color">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Width</span>
                                        <input type="number" class="form-control" aria-describedby="menu-width" [(ngModel)]="button[menu.id].width">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Height</span>
                                        <input type="number" class="form-control" aria-describedby="menu-height" [(ngModel)]="button[menu.id].height">
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Padding top</span>
                                        <input type="number" class="form-control" aria-describedby="menu-padding-top" [(ngModel)]="button[menu.id].padding[0]">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Padding right</span>
                                        <input type="number" class="form-control" aria-describedby="menu-padding-right" [(ngModel)]="button[menu.id].padding[1]">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Padding bottom</span>
                                        <input type="number" class="form-control" aria-describedby="menu-padding-bottom" [(ngModel)]="button[menu.id].padding[2]">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Padding left</span>
                                        <input type="number" class="form-control" aria-describedby="menu-padding-top" [(ngModel)]="button[menu.id].padding[3]">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Border size</span>
                                        <input type="number" class="form-control" aria-describedby="menu-padding-top" [(ngModel)]="button[menu.id].borderwidth">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Border color</span>
                                        <input type="text" class="form-control" aria-describedby="menu-color" [(colorPicker)]="button[menu.id].bordercolor" [style.background]="button[menu.id].bordercolor"
                                            [(ngModel)]="button[menu.id].bordercolor">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">Border radius</span>
                                        <input type="number" class="form-control" aria-describedby="menu-padding-top" [(ngModel)]="button[menu.id].borderradius">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default close" (click)="menu.show=false" style="margin-left: 15px; margin-bottom:15px;">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col col-12 [ngClass]="dragPanel ? 'showPanel' : 'hidePanel'" class="dragPanel">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-default" [style.color]="button[2].color" draggable="true" absolute-drag (dragend)="onDrop($event)"
                            (dragstart)="onDragStart($event,button[2])" (drag)="onDragOver($event)" [style.backgroundColor]="button[2].backgroundcolor"
                            [style.width.px]="button[2].width" [style.height.px]="button[2].height" [style.borderWidth.px]="button[2].borderwidth"
                            [style.borderColor]="button[2].bordercolor" [style.borderRadius.px]="button[2].borderradius" mwlResizable
                            [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}" [enableGhostResize]="false"
                            [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[2])" (resizeEnd)="onResizeEnd($event,button[2])"
                            (click)="showMenu(2)">
                            <div id="button2" class="panel-body panel-resizable" [style.padding-top.px]="button[2].padding[0]" [style.padding-right.px]="button[2].padding[1]"
                                [style.padding-bottom.px]="button[2].padding[2]" [style.padding-left.px]="button[2].padding[3]">
                                <p>place holder</p>

                            </div>
                            <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                        </div>
                        <div class="button_holder" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                            [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[0])"
                            (resizeEnd)="onResizeEnd($event,button[0])" [style.width.px]="button[0].width" [style.height.px]="button[0].height">
                            <button id="button0" class="btn btn-default" [style.backgroundColor]="button[0].backgroundcolor" draggable="true" absolute-drag
                                [style.borderRadius.px]="button[0].borderradius" [style.borderWidth.px]="button[0].borderwidth"
                                [style.borderColor]="button[0].bordercolor" (dragend)="onDrop($event)" (dragstart)="onDragStart($event,button[0])"
                                (drag)="onDrag($event)" [style.color]="button[0].color" [style.padding-top.px]="button[0].padding[0]"
                                [style.padding-right.px]="button[0].padding[1]" [style.padding-bottom.px]="button[0].padding[2]"
                                [style.padding-left.px]="button[0].padding[3]" (click)="showMenu(0)">
                                button
                            </button>
                            <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                        </div>
                        <div class="chose-group" (click)="showMenu(1)" draggable="true" absolute-drag (dragend)="onDrop($event)" (dragstart)="onDragStart($event,button[1])"
                            (drag)="onDrag($event)" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                            [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[1])"
                            (resizeEnd)="onResizeEnd($event,button[1])" [style.width.px]="button[1].width" [style.height.px]="button[1].height">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="checkbox_zzz">
                            </span>
                            <div id="button1" [style.backgroundColor]="button[1].backgroundcolor" [style.color]="button[1].color" type="text" class="form-control"
                                aria-label="checkbox_zzz" [style.padding-top.px]="button[1].padding[0]" [style.padding-right.px]="button[1].padding[1]"
                                [style.padding-bottom.px]="button[1].padding[2]" [style.padding-left.px]="button[1].padding[3]"
                                [style.borderRadius.px]="button[1].borderradius"> check box
                            </div>
                            <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                        </div>
                        <div class="chose-group" (click)="showMenu(3)" draggable="true" (dragend)="onDrop($event)" (dragstart)="onDragStart($event,button[3])"
                            mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                            [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[3])"
                            (resizeEnd)="onResizeEnd($event,button[3])" [style.width.px]="button[3].width" [style.height.px]="button[3].height">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="checkbox_zzz">
                            </span>
                            <div id="button3" [style.backgroundColor]="button[3].backgroundcolor" [style.color]="button[3].color" type="text" class="form-control"
                                aria-label="checkbox_zzz" [style.padding-top.px]="button[3].padding[0]" [style.padding-right.px]="button[3].padding[1]"
                                [style.padding-bottom.px]="button[3].padding[2]" [style.padding-left.px]="button[3].padding[3]"
                                [style.borderRadius.px]="button[3].borderradius"> check box
                            </div>
                            <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                        </div>
                        <div class="gemini">
                            <div class="connector">
                                <svg height="100" width="200">
                                    <line x1="100" y1="50" x2="100" y2="100" style="stroke:rgb(255,0,0);stroke-width:2; z-index: -1;" />
                                </svg>
                            </div>
                            <div class="button_holder" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[5])"
                                (resizeEnd)="onResizeEnd($event,button[5])" [style.width.px]="button[5].width" [style.height.px]="button[5].height">
                                <button id="button5" class="btn btn-default" [style.backgroundColor]="button[5].backgroundcolor" draggable="true" (dragend)="onDrop($event)"
                                    (dragstart)="onDragStart($event,button[5])" [style.color]="button[5].color" [style.borderWidth.px]="button[5].borderwidth"
                                    [style.borderColor]="button[5].bordercolor" [style.borderRadius.px]="button[5].borderradius"
                                    [style.padding-top.px]="button[5].padding[0]" [style.padding-right.px]="button[5].padding[1]"
                                    [style.padding-bottom.px]="button[5].padding[2]" [style.padding-left.px]="button[5].padding[3]"
                                    (click)="showMenu(5)">
                                    gemini 1
                                </button>
                                <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                            </div>
                            <div class="button_holder" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[6])"
                                (resizeEnd)="onResizeEnd($event,button[6])" [style.width.px]="button[6].width" [style.height.px]="button[6].height">
                                <button id="button6" class="btn btn-default" [style.backgroundColor]="button[6].backgroundcolor" draggable="true" absolute-drag
                                    (dragend)="onDrop($event)" (dragstart)="onDragStart($event,button[6])" (drag)="onDrag($event)"
                                    [style.borderWidth.px]="button[0].borderwidth" [style.borderColor]="button[0].bordercolor"
                                    [style.color]="button[6].color" [style.borderRadius.px]="button[6].borderradius" [style.padding-top.px]="button[6].padding[0]"
                                    [style.padding-right.px]="button[6].padding[1]" [style.padding-bottom.px]="button[6].padding[2]"
                                    [style.padding-left.px]="button[6].padding[3]" (click)="showMenu(6)">
                                    gemini 2
                                </button>
                                <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col col-12 [ngClass]="dropPanel ? 'showPanel' : 'hidePanel'" (dragleave)="onDragLeave($event)">
                <div class="panel panel-info main_panel ">
                    <div class="panel-body droppable" dragenter="onDragEnter($event)" (dragover)="onDragOver($event)">
                        <div *ngFor="let item of button; let i = index">
                            <div *ngIf="i > '6'">
                                <div *ngIf="item.typ == 'div'">
                                    <div class="panel panel-default" [style.color]="item.color" absolute-drag (drag)="onDragOver($event)" draggable="true" (dragend)="onDropMove($event)"
                                        (dragstart)="onDragStart($event,item)" [style.marginTop.px]="item.dropY" [style.marginLeft.px]="item.dropX"
                                        [style.width.px]="item.width" [style.borderRadius.px]="item.borderradius" [style.height.px]="item.height"
                                        [style.borderWidth.px]="item.borderwidth" [style.borderColor]="item.bordercolor" [style.backgroundColor]="item.backgroundcolor"
                                        [style.display]="item.display" (click)="showMenu(i)" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                        [enableGhostResize]="false" (resizing)="onResize($event,item)" (resizeEnd)="onResizeEnd($event,item)">
                                        <div id="button{{i}}" class="panel-body" [style.padding-top.px]="item.padding[0]" [style.padding-right.px]="item.padding[1]"
                                            [style.padding-bottom.px]="item.padding[2]" [style.padding-left.px]="item.padding[3]"
                                            [innerHtml]="item.msg">
                                            place holder
                                        </div>
                                        <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                                    </div>
                                </div>
                                <div *ngIf="item.typ == 'button'">
                                    <div class="button_holder" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                        [enableGhostResize]="false" (resizing)="onResize($event,item)" (resizeEnd)="onResizeEnd($event,item)"
                                        draggable="true" (dragend)="onDropMove($event)" (dragstart)="onDragStart($event,item)"
                                        (drag)="onDragOver($event)" [style.marginTop.px]="item.dropY" [style.marginLeft.px]="item.dropX"
                                        [style.width.px]="item.width" [style.height.px]="item.height">
                                        <button id="button{{i}}" class="btn btn-default" [style.color]="item.color" [style.borderWidth.px]="item.borderwidth" [style.borderColor]="item.bordercolor"
                                            [style.backgroundColor]="item.backgroundcolor" [style.borderRadius.px]="item.borderradius"
                                            [style.padding-top.px]="item.padding[0]" [style.padding-right.px]="item.padding[1]"
                                            [style.padding-bottom.px]="item.padding[2]" [style.padding-left.px]="item.padding[3]"
                                            (click)="showMenu(i)" [innerHtml]="item.msg">
                                            button
                                        </button>
                                        <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                                    </div>
                                </div>
                                <div *ngIf="item.typ == 'checkbox'">
                                    <div class="chose-group" (click)="showMenu(i)" draggable="true" (dragend)="onDropMove($event)" (dragstart)="onDragStart($event,item)"
                                        (drag)="onDragOver($event)" [style.marginTop.px]="item.dropY" [style.marginLeft.px]="item.dropX"
                                        mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                        [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,item)"
                                        (resizeEnd)="onResizeEnd($event,item)" [style.width.px]="item.width" [style.height.px]="item.height">
                                        <span class="input-group-addon" [style.borderTopLeftRadius.px]="item.borderradius" [style.borderTopLeftRadius.px]="item.borderradius">
                                            <input type="checkbox" aria-label="checkbox_zzz">
                                        </span>
                                        <div id="button{{i}}" [style.backgroundColor]="item.backgroundcolor" [style.color]="item.color" type="text" class="form-control"
                                            aria-label="checkbox_zzz" [style.padding-top.px]="item.padding[0]" [style.padding-right.px]="item.padding[1]"
                                            [style.padding-bottom.px]="item.padding[2]" [style.padding-left.px]="item.padding[3]"
                                            [style.borderWidth.px]="item.borderwidth" [style.borderColor]="item.bordercolor"
                                            [style.borderTopRightRadius.px]="item.borderradius" [style.borderBottomRightRadius.px]="item.borderradius">
                                            check box
                                        </div>
                                        <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                                    </div>
                                </div>

                                <div *ngIf="item.typ == 'radio'">
                                    <div class="chose-group" (click)="showMenu(i)" draggable="true" (dragend)="onDropMove($event)" (dragstart)="onDragStart($event,item)"
                                        (drag)="onDragOver($event)" [style.marginTop.px]="item.dropY" [style.marginLeft.px]="item.dropX"
                                        mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                        [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,item)"
                                        (resizeEnd)="onResizeEnd($event,item)" [style.width.px]="item.width" [style.height.px]="item.height">
                                        <span class="input-group-addon">
                                            <input type="checkbox" aria-label="checkbox_zzz">
                                        </span>
                                        <div id="button{{i}}" [style.backgroundColor]="item.backgroundcolor" [style.color]="item.color" type="text" class="form-control"
                                            aria-label="checkbox_zzz" [style.padding-top.px]="item.padding[0]" [style.padding-right.px]="item.padding[1]"
                                            [style.padding-bottom.px]="item.padding[2]" [style.padding-left.px]="item.padding[3]"
                                            [style.borderRadius.px]="item.borderradius"> check box
                                        </div>
                                        <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                                    </div>
                                </div>

                                <div *ngIf="item.typ == 'gemini'">
                                    <div class="active_connector">
                                        <svg>
                                            <line [attr.x1]="item.dropX+(item.width/2)" [attr.y1]="item.dropY+(item.height/2)" [attr.x2]="button[item.connector].dropX + button[item.connector].width/2"
                                                [attr.y2]="button[item.connector].dropY + button[item.connector].height/2" style="stroke:rgb(255,0,0);stroke-width:1; z-index: -1;"
                                            />
                                        </svg>
                                    </div>
                                    <div class="button_holder" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                                        [enableGhostResize]="false" (resizing)="onResize($event,item)" (resizeEnd)="onResizeEnd($event,item)"
                                        draggable="true" (dragend)="onDropMove($event)" (dragstart)="onDragStart($event,item)"
                                        (drag)="onDragOver($event)" [style.marginTop.px]="item.dropY" [style.marginLeft.px]="item.dropX"
                                        [style.width.px]="item.width" [style.height.px]="item.height">
                                        <button id="button{{i}}" class="btn btn-default" [style.color]="item.color" [style.borderWidth.px]="item.borderwidth" [style.borderColor]="item.bordercolor"
                                            [style.backgroundColor]="item.backgroundcolor" [style.borderRadius.px]="item.borderradius"
                                            [style.padding-top.px]="item.padding[0]" [style.padding-right.px]="item.padding[1]"
                                            [style.padding-bottom.px]="item.padding[2]" [style.padding-left.px]="item.padding[3]"
                                            (click)="showMenu(i)" [innerHtml]="item.msg">
                                            gemin
                                        </button>
                                        <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button_holder" mwlResizable [ngStyle]="style" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                            [enableGhostResize]="false" [ghostElementPositioning]="absolute" (resizing)="onResize($event,button[4])"
                            absolute-drag (resizeEnd)="onResizeEnd($event,button[4])" draggable="true" (dragend)="onDropMove($event)"
                            (dragstart)="onDragStart($event,item)" [style.marginTop.px]="button[4].dropY" [style.marginLeft.px]="button[4].dropX"
                            [style.width.px]="button[4].width" [style.height.px]="button[4].height">
                            <button id="button4" class="btn btn-default" [style.backgroundColor]="button[4].backgroundcolor" draggable="true" (dragend)="onDrop($event)"
                                (dragstart)="onDragStart($event,button[4])" (drag)="onDragOver($event)" [style.color]="button[4].color"
                                [style.borderWidth.px]="button[0].borderwidth" [style.borderColor]="button[0].bordercolor" [style.borderRadius.px]="button[4].borderradius"
                                [style.padding-top.px]="button[4].padding[0]" [style.padding-right.px]="button[4].padding[1]"
                                [style.padding-bottom.px]="button[4].padding[2]" [style.padding-left.px]="button[4].padding[3]"
                                (click)="showMenu(4)">
                                submit
                            </button>
                            <img src="imgs/eqzz2dl.gif" class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true}">
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col col-12 [ngClass]="trashPanel ? 'showPanel' : 'hidePanel'">
                <div class="panel panel-info">
                    <div class="panel-heading">Recycle bin: Drag into me to delete it</div>
                    <div class="panel-body">
                        <!--<div *ngIf="restrictedDrop1">Item was dropped here</div>-->
                        <!--<div *ngIf="listRecycled.length">-->
                        <div *ngFor="let item of listRecycled">
                            <div class="panel panel-default">
                                <div class="panel-body" [innerHtml]="item.msg">
                                    item
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--            <div class="col-sm-6">
                    <div dnd-droppable class="panel panel-warning" [allowDrop]="allowDropFunction(box2Integer)" (onDropSuccess)="addTobox2Items($event)">
                        <div class="panel-heading">
                            Multiples of
                            <input type="number" [(ngModel)]="box2Integer" style="width: 4em">
                            only
                        </div>
                        <div class="panel-body">
                            <div *ngFor="let item of box2Items">dragData = {{item}}</div>
                        </div>
                    </div>
                </div>-->

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>