<ion-header>
    <ion-toolbar>
        <ion-title>
            <button ion-button icon-right icon-only (click)="userService.openMenu('left_menu',navCtrl)">
                <ion-icon name="menu"></ion-icon>
            </button>
            <button ion-button round icon-right color="secondary" (click)="createtest()">
                <p>Save</p>
            </button>
            <button ion-button round icon-right icon-only  (click)="userService.openMenu('admin_menu',navCtrl)">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="overflow-y: hidden;">

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <div class="panel panel-info">
                    <div class="panel-heading">Test</div>
                    <div class="panel-body">
                        <!--<div *ngIf="restrictedDrop1">Item was dropped here</div>-->
                        <!--<div *ngIf="listRecycled.length">-->


                        <ion-row >

                            <ion-list>
                                <ion-item class="thumbnile">
                                    <img src="" alt="thumb" />
                                </ion-item>
                                <ion-item>
                                    <ion-label color="primary">Name</ion-label>
                                    <ion-input type="text" value="{{test.name}}" placeholder="Test Name" name="name" ></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label color="primary">Slug</ion-label>
                                    <ion-input type="text" value="{{test.slug}}" placeholder="Test slug" name="slug" ></ion-input>
                                </ion-item>
                                <ion-item>
                                    <label class="item item-input"> 
                                        <input type="file" name="image" (change)="fileChange($event)"/>
                                    </label>
                                  </ion-item>
                            </ion-list>
                            <p blessfiles (notify)='onNotify($event)' >oki</p>
                        </ion-row>

                    </div>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>