page-mytests {

}


.thumbnail{
    img{
        height: 70px;
    }
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.fa-sort-asc {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.fa-sort-desc {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.item_table:nth-child(2n){
    background-color: #ccc;
}