<ion-header>
    <ion-toolbar>
        <button ion-button icon-right [menuToggle]="activeMenu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span>BlessTest</span>
            <button ion-button round icon-right (click)="login()">
                <p>Login </p>
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="overflow-y: hidden;">

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <div class="panel panel-info">
                    <div class="panel-heading">Test</div>
                    <div class="panel-body">
                        <!--<div *ngIf="restrictedDrop1">Item was dropped here</div>-->
                        <!--<div *ngIf="listRecycled.length">-->


                        <ion-row *ngIf="test">

                            <ion-list>
                                <ion-item class="thumbnile">
                                    <img src="{{test.image}}" alt="thumb" />
                                </ion-item>
                                <ion-item>
                                    <ion-label color="primary">Name</ion-label>
                                    <ion-input placeholder="Text Input" value="{{test.name}}"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label color="primary">Slug</ion-label>
                                    <ion-input placeholder="Text Input" value="{{test.slug}}"></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-row>

                    </div>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>